<template name="login">
    {{#unless currentUser}}
        <div id="mainpage">
            <img id="displayed" src="/images/Logo.png" width="300px">

            <div id="login-box">{{> loginButtons}}</div>

            {{removeStyle}}
        </div>
    {{/unless}}

    {{#if currentUser}}
        {{>main}}
    {{/if}}
</template>



