<head>
    <style>
        /*body{
            background-color:#fff;
        }*/

        #mapFloor1 {
            position: fixed;
            height: 100%;
            width: 88%;
            left: 230px;
            padding: 20px;
            border-right: 3px solid;
            border-width: thick;
        }

        #mapFloor1 canvas {
            height: 90%;
            width: 90%;
            border: 1px solid;
        }
    </style>


</head>

<template name="preview">

    <div id="mapFloor1">

        <!-- <img src="/images/bright room.png"/> -->
        <!-- 		{{#each d in data}}
            {{d.courseID}}
            {{student}}
        {{/each}} -->


        <canvas id="floorPlan" width="1200" height="800">


        </canvas>
    </div>

</template>