#mainpage {
    position: relative;
    opacity: 0.99;

}

#mainpage:before {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    content: url('/images/examhall.jpg');
    filter: alpha(opacity=50);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.5);
    opacity: .30;
}

#displayed {

    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px 5px 15px 15px
}

#login-box {

    margin: 100px 500px 100px 600px;
}