<template name="savePlan">
    <div id="body">
        <h1>Save the Current Plan</h1>
        <span class=br>{{{breakLine}}}</span>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-2" for="nSave">Name:</label>
                <input type="text" id="nSave" name="nSave" required class="form-control" value="{{getPlanName}}">
            </div>
            <span class=br>{{{breakLine}}}</span>
            <div class="form-group">
                <label class="control-label col-md-2" for="time">Time: </label>
                <input type="text" id="timeIn" name="hour" readonly="readonly" required class="form-control">
            </div>
            <span class=br>{{{breakLine}}}</span>
            <div class="form-group">
                <label class="control-label col-md-2" for="time">Date: </label>
                <input type="text" id="dateIn" name="date" readonly="readonly" required class="form-control">
            </div>
            <span class=br>{{{breakLine}}}</span>
            <div class="form-group">
                <label class="control-label col-md-2" for="venue">Venue: </label>
                <input type="text" id="venueIn" name="venue" required readonly="readonly" class="form-control">
            </div>
            <span class=br>{{{breakLine}}}</span>
            <div class="form-group">
                <label class="control-label col-md-2" for="subject">Subject:</label>
                <input type="text" id="subjectIn" name="subject" required readonly="readonly" class="form-control">
                <!-- <label for="time">Date:</label>
                <input type="text" name="date"  readonly="readonly"  value="15 January 2016"  required class="form-control"> -->
            </div>
            <span class=br>{{{breakLine}}}</span>
            <div class="form-group">
                <label class="control-label col-md-2" for="createdBy">Created By:</label>
                <input type="text" name="createdBy" required class="form-control" value="{{getUserEmail}}">
            </div>
            <span class=br>{{{breakLine}}}</span>

            <div id="optionButton">
                <button id="save" type="submit" class="btncls2"><img src="/images/save.png" class="img-rounded"
                                                                     width="50"/>
                </button>
                <button id="pdf" class="btncls2"><img src="/images/pdf.jpg" class="img-rounded"
                                                                    width="50"/>
                </button>
                <button id="download" type="submit" class="btncls2"><img src="/images/download.png" class="img-rounded"
                                                                         width="50"/></button>
            </div>

            <div id="pdfOpt" class="form-group">
            <label class="control-label col-md-2" for="pdfOpt">PDF Option:</label>
            <button id="invigilator" type="submit" class="btn btn-success" >Invigilators</button>
            <button id="students" type="submit" class="btn btn-success">Students</button>
            </div>
        </form>

    </div>
    {{myOnLoad}}
</template>
